/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require octicons/sprockets-octicons
 */
 @import "foundation_and_overrides";

 .footer {
     height: 50px;
     position: absolute;
     bottom: 0px;
     width: 100%;
     margin-left: 0;
     margin-right: 0;
 }

 footer {
   border-top: thin solid $gainsboro;
   font-color: $smoke;
   padding-top: 10px;
 }

.contain-to-grid {
   border-bottom: thin solid $gainsboro;
}

.content-description {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: thin solid $gainsboro;
  width: 100%;
}

.content {
  margin-top: 20px;
}

.login-image {
  margin-top: 100px;
}

.padding {
  margin-top: 20px;
}

.login-image h1 {
  font-size: rem-calc(40);
  text-align: center;
}

nav img {
  padding-top: 5px;
}

.octicon, .mega-octicon {
  color: $jet;
}

.octicon.link {
  margin-right: 10px;
}

.side-nav.repos {
  border: thin solid $aluminum;
  border-radius: $global-radius;
  padding-bottom: 10px;
}

.side-nav li a:not(.button) {
  padding-top: 0px;
  padding-bottom: 0px;
}

.repo-list {
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.panel.header {
  color: $jet;
  background-color: $gainsboro;
  padding-left: 10px;
  margin-top: -14px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: $font-weight-bold;
  border-bottom: thin solid $aluminum;
}

.build .requested {
  color: rgb(170, 170, 170)
}

.build .queued {
  color: rgb(201, 162, 26)
}

.build .success, li .success {
  color: rgb(105, 200, 58)
}

.build .failed, li .failed {
  color: rgb(191, 43, 0)
}

.build {
  border: thin solid $gainsboro;
  padding: 10px;
  margin-bottom: 10px;
}
